
<div style="color:grey; background-color:black" >
<div class="container-fluid">
<div id="demo" class="carousel slide" data-ride="carousel" style="margin-left:3rem;">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/homese.png" alt="Cabinet Avocat" >
        
      </div>
      <div class="carousel-item">
        <img src="assets/home2.png" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
       
        </div>   
      </div>
      <div class="carousel-item">
        <img src="assets/home3.jpeg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
       
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
   
  </div>
  <div class="row">
 <div class="col-md-12" style=" background-color:black">
    <div class="d-flex justify-content-center">
      <mat-icon>settings</mat-icon>
    
    </div>
    <h1 class="d-flex justify-content-center" >LES SAVOIRS-FAIRE</h1>
 </div>

 </div>
 <div class="row ">
  <div class="card-deck" style=" background-color:black">
   <div class="col-md-4 col-sm-4 col-lg-4">
    <div class="card bg-dark">
      <div class="card-body text-center">
        <h3>PRIVATE EQUITY - M&A - RESTRUCTURING</h3>
        <p class="card-text">
         Le Cabinet d'avocat au barreau de Paris assiste ses clients dans le cadre du financement de leurs activités, 
          de  la  structuration  de  leur  croissance.</p>
          <p class="card-text">
            définition  stratégique  et  mise  en  place  de  leur gouvernance, prévention de leurs difficultés et lors de leur transmission. Chaque intervention est ciblée selon le besoin de financement et le niveau de croissance de l’entreprise.
          </p>
      </div>
    </div>
   </div>
   <div class="col-md-4 col-sm-4 col-lg-4 ">

   <div class="card bg-dark" style="padding-bottom:2.4rem;">
    <div class="card-body text-center">
      <h3>PRIVATE EQUITY - M&A - RESTRUCTURING</h3>
      <p class="card-text">Les membres de l’équipe utilisent les ressources de la tradition et de la modernité pour accompagner le développement et la sécurisation des projets d’acteurs clés, grâce à leur expertise des secteurs convergents des TMT alliant connaissance des réseaux, des technologies et des droits de propriété intellectuelle des contenus.</p>
    </div>
  </div>
   </div>
   <div class="col-md-4 col-sm-4 col-lg-4 ">
  <div class="card bg-dark" style="padding-bottom:2.4rem;">
    <div class="card-body text-center">
      <h3>PRIVATE EQUITY - M&A - RESTRUCTURING</h3>
      <p class="card-text">Notre  équipe  d’avocats  spécialiste  en  droit  social  met  son  expertise  et  son  savoir-faire  au service de l’entreprise et de ses dirigeants. Elle  accompagne  ses  clients  au  quotidien  dans  la  gestion  des  relations  individuelles  et collectives de travail, dans tous les aspects de leurs relations sociales.</p>
    </div>
  </div>
  </div>
</div>
 </div>
 <div class="row">
  <div class="col-md-12" style=" background-color:black">
     <div class="d-flex justify-content-center">
      <mat-icon>people</mat-icon>
     
     </div>
     <h1 class="d-flex justify-content-center">LES ASSOCIES</h1>
  </div>
 
  </div>
</div>
<div  style=" background-color:black">
<div class="container" style=" background-color:black">
 <div class="row d-flex justify-content-center" style="margin-left:5rem;">
   <div class="col-md-6 col-sm-12">
    <div class="card" style="width:300px; ">
      <img class="card-img-top" src="assets/avocat1.png" alt="Card image" style="width:100%; ">
      <div class="card-body bg-dark">
        <h4 class="card-title">Christophe YOUSSIF</h4>
        <p class="card-text">Avocat au Barreau de Paris</p>
        <a [routerLink]="['/avocat','1']" class="btn btn-light">Accèder</a>
      </div>
    </div>
   </div>

   <div class="col-md-6 col-sm-12">
    <div class="card" style="width:300px; ">
      <img class="card-img-top" src="assets/avocat2.png" alt="Card image" style="width:100%;">
      <div class="card-body bg-dark">
        <h4 class="card-title">Sonia NETO</h4>
        <p class="card-text">Avocat au Barreau de Paris</p>
        <a [routerLink]="['/avocat','2']" class="btn btn-light">Accèder</a>
      </div>
      
    </div>
   </div>
 </div>
</div>
</div>
<footer class="page-footer font-small  " style="background-color: grey;"> 

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="margin-top:2rem; color:white">© 2020 Copyright:
    <a href="/"> Avocat au Barreau de Paris</a>
  </div>
  <!-- Copyright -->

</footer>
</div>



